body {
  font-family: 'Unna', serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to right,
      rgba(26, 33, 27, 0.567) 100%,
      rgba(26, 33, 27, 0.567) 100%),
    url('/src/assets/image/2023-10-10\ 21.10.07.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(21, 33, 21, 0.722);
  color: #fff;
  padding: 0 0;
  height: 100vh;
}

.top-bar {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top-bar img {
  height: 140px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  margin-right: 20px;
  padding: 15px;

}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.header-content_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-content {
  text-align: center;
  padding: 20px 0;
  /* width: 800px; */
}

.header-content h6 {
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 100;
  opacity: 0.8;
}

.header-content h1 {
  font-size: 70px;
  font-weight: 100;
  font-weight: 300;
}

/* .button_wrap{
	display: flex;
	justify-content: center;
} */

.button_shop {
  display: block;
  background: #fff;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  width: 120px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  /* margin-left: 580px; */
}

.button_shop:hover {
  background-color: rgb(30, 109, 71);
  color: #fff;
}

.products {
  padding: 40px 0;
  margin: 50px 100px;
  /* text-align: center; */
}

.products_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products_title {
  display: flex;
  justify-content: space-between;
}

.products_title h2 {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}

.products_title a {
  background-color: rgb(30, 109, 71);
  color: #fff;
  margin-top: 20px;
}

.product {
  display: inline-block;
  width: 28%;
  /* margin: 0 2%; */
  margin-bottom: 30px;
  padding: 20px;
  background: #f9f9f9;
  /* border: 1px solid #ddd; */
  border-radius: 2px;
  height: 500px;
}

.product img {
  height: 70%;
  width: 100%;
}

.our_story {
  display: flex;
  height: 700px;
  flex-direction: row;
}

.our_story_img {
  width: 45%;
}

.our_story_img img {
  width: 90%;
  height: 700px;
  object-fit: cover;
}

.our_story_text {
  width: 50%;
  margin-left: 150px;
  margin-top: 120px;
}

.our_story_text h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 50;
  opacity: 0.7;
  margin: 0;
}

.our_story_text h2 {
  font-size: 34px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 60px;
}

.our_story_text p {
  width: 400px;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.6;
  font-weight: 100;
  margin-bottom: 60px;
}

.our_story_text a {
  background-color: rgb(30, 109, 71);
  color: #fff;
  margin: 0;
}

.customer_reviews h2 {
  font-size: 34px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: 530;
  letter-spacing: 1px;
}

.review_wrap {
  display: flex;
  margin: 0 100px;
  justify-content: space-between;
}

.review {
  width: 25%;
  text-align: center;
  font-size: 20px;
}

.review p {
  margin-top: 0;
}

.review p:nth-child(3) {
  font-size: 14px;
  margin-top: 10px;
}

.review img {
  width: 12%;
  border-radius: 100%;
}

.review:before {
  content: '\201C';
  font-size: 50px;
  color: rgb(30, 109, 71);
}

.gift_card {
  background-image: linear-gradient(to right,
      rgba(26, 33, 27, 0.567) 100%,
      rgba(26, 33, 27, 0.567) 100%),
    url('/src/assets/image/2023-10-10\ 21.09.47.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 70px;
}

.gift_card div:nth-child(1) {
  color: #fff;
  text-align: center;
  padding-top: 150px;
  letter-spacing: 1.5px;
  font-weight: 100;
}

.gift_card h6 {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
}

.gift_card h3 {
  font-size: 64px;
  margin: 10px 0 30px 0;
  font-weight: 200;
}

.gift_card a {
  width: 200px;
  margin-top: 50px;
}

.why_us {
  display: flex;
  margin: 50px 100px;
  justify-content: center;
}

.why_us div {
  width: 33%;
  text-align: center;
  border-right: 1px solid rgba(30, 109, 71, 0.255);
}

.why_us div:nth-child(3) {
  border-right: none;
}

.why_us img {
  width: 60px;
  border-radius: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(12, 46, 30);
  color: #fff;
  text-align: center;
  height: 150px;
  margin-top: 50px;
}

footer nav {
  text-align: center;
}
